.gallery .g1 {
    transition: all 0.2s ease-in-out;
    position: relative;
}


.g-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Overlay color and opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.g1:hover .g-overly {
    opacity: 1;
    /* Show the overlay on hover */
}

.g1:hover .checkInput {
    opacity: 1;
}

.gallery div:first-child {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    cursor: grab;
}



/* Add this to your CSS */
.selected {
    border: 2px solid red;
    /* Change the border style for selected images */
    background-color: rgba(255, 0, 0, 0.2);
}